<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ejs</title>
</head>
<link rel="stylesheet" href="../public/css/basic.css">
<body>
    index page
    <img style="width:100px;height: 100px;" src="img/b.jpg" alt="">
    {{each list.data}}
        <li>{{$index}}---{{$value}}</li>
    {{/each}}
    {{each list.name}}
        <!-- <li>{{$index}}---{{$value}}</li> -->
    {{/each}}
    {{@ list.h}}
    {{each database}}
        <li>{{$value.username}}</li>
    {{/each}}
</body>
</html>