<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ejs</title>
</head>
<body>
    <p>
        配置模版引擎中间件 --第三方中间件
        app.use(views('views',{
            extension:'ejs' //应用ejs模版引擎
        }))
    </p>
    <p>
        <%= title %>
        <!-- 中间件公共数据 -->
        <%=userinfo%>
    </p>
</body>
</html>